{% extends 'MainBundle:Default:base.html.twig' %}

{% block body %}
			<!-- Content -->
				<div id="content-wrapper">
					<div id="content">
						<div class="container">
							<div class="row">
								<div class="3u 12u(mobile)">

									<!-- Left Sidebar -->
										<section>
											<header>
												<h2>Kari szakestély</h2>
											</header>
											<p>
												Gyűrűavatók, vegzős búcsúztatók
											</p>
											<ul class="link-list">
												<li><a href="#">2015 tavasz</a></li>
												<li><a href="#">2015 ősz</a></li>
											</ul>
										</section>
										<section>
											<header>
												<h2>Köri szakestély</h2>
											</header>
											<ul class="link-list">
												<li><a href="#">2015 tavasz</a></li>
												<li><a href="#">2015 ősz</a></li>
												<li><a href="#">Jubileumi (2015)</a></li>
											</ul>
										</section>
								</div>
								<div class="6u 12u(mobile) important(mobile)">

									<!-- Main Content -->
										<section>
											<header>
												<h2>Galéria</h2>
												<h3>Kattints oldalt a megtekinteni kívánt albumra</h3>
											</header>
											<p>
												A programjaink apropójáról a <a href="{{ path('about') }}">Rólunk</a> menüpontban tájékozódhatsz!
											</p>
										</section>

								</div>
								<div class="3u 12u(mobile)">

									<!-- Right Sidebar -->
										<section>
											<header>
												<h2>Kari programok</h2>
											</header>
											<ul class="link-list">
												<li><a href="#">Ballagás</a></li>
											</ul>
										</section>
										<section>
											<header>
												<h2>Köri programok</h2>
											</header>
											<p>
												Amikor éppen jól érezzük magunkat... :-P
											</p>
											<ul class="link-list">
												<li><a href="#">Disznóvágás</a></li>
												<li><a href="#">Pincebuli</a></li>
											</ul>
										</section>

								</div>
							</div>
						</div>
					</div>
				</div>
{% endblock %}