{% extends 'MainBundle:Default:three.html.twig' %}

{% block leftbar %}
    <section>
        <header>
            <h2>Kari szakestély</h2>
        </header>
        <p>
            Gyűrűavatók, vegzős búcsúztatók
        </p>
        <ul class="link-list">
            <li><a href="#">2015 tavasz</a></li>
            <li><a href="#">2015 ősz</a></li>
        </ul>
    </section>
    <section>
        <header>
            <h2>Köri szakestély</h2>
        </header>
        <ul class="link-list">
            <li><a href="#">2015 tavasz</a></li>
            <li><a href="#">2015 ősz</a></li>
            <li><a href="#">Jubileumi (2015)</a></li>
        </ul>
    </section>
{% endblock %}
{% block content %}
    <section>
        <header>
            <h2>Galéria</h2>
            <h3>Kattints oldalt a megtekinteni kívánt albumra</h3>
        </header>
        <p>
            A programjaink apropójáról a <a href="{{ path('about') }}">Rólunk</a> menüpontban tájékozódhatsz!
        </p>
    </section>
{% endblock %}
{% block rightbar %}
    <section>
        <header>
            <h2>Kari programok</h2>
        </header>
        <ul class="link-list">
            <li><a href="#">Ballagás</a></li>
        </ul>
    </section>
    <section>
        <header>
            <h2>Köri programok</h2>
        </header>
        <p>
            Amikor éppen jól érezzük magunkat... :-P
        </p>
        <ul class="link-list">
            <li><a href="#">Disznóvágás</a></li>
            <li><a href="#">Pincebuli</a></li>
        </ul>
    </section>
{% endblock %}