{% extends 'MainBundle::base.html.twig' %}

{% block body %}
	<!-- Content -->
		<div id="content-wrapper">
			<div id="content">
				<div class="container">
					<div class="row">
						<div class="3u 12u(mobile)">
							{% block leftbar %}{% endblock %}
						</div>
						<div class="6u 12u(mobile) important(mobile)">
							{% block content %}{% endblock %}
						</div>
						<div class="3u 12u(mobile)">
							{% block rightbar %}{% endblock %}
						</div>
					</div>
				</div>
			</div>
		</div>
{% endblock %}