{% extends 'MainBundle:About:index.html.twig' %}

{% block content %}
    <section>
        <header>
            <h2>Korsók</h2>
            <h3>időrendben</h3>
        </header>
        <p>
            majd...
        </p>
    </section>
{% endblock %}