{% extends 'MainBundle:About:index.html.twig' %}

{% block content %}
    <section>
        <header>
            <h2>Tagok</h2>
            <h3>valamilyen sorrendben</h3>
        </header>
        <p>
            <ul>
            {% for user in users %}
                <li>{{ user.username|e }}</li>
            {% endfor %}
            </ul>
        </p>
    </section>
{% endblock %}