{% extends 'MainBundle:About:index.html.twig' %}

{% block content %}
    <section>
        <header>
            <h2>Tagok</h2>
            <h3>rang szerint!</h3>
        </header>
        <p>
            bizony...
        </p>
    </section>
{% endblock %}