{% extends 'MainBundle:About:index.html.twig' %}

{% block content %}
    <section>
        <header>
            <h2>Nóták</h2>
            <h3>Kategória szerint</h3>
        </header>
        <p>
            asdasd
        </p>
    </section>
{% endblock %}