{% extends 'MainBundle:About:index.html.twig' %}

{% block content %}
    <section>
        <header>
            <h2>Asztaltársaságok</h2>
            <h3>kedv szerint!</h3>
        </header>
        <p>
            asdasd
        </p>
    </section>
{% endblock %}