<section>
    <header>
        <h2>Aki kíváncsi, hamar ...</h2>
        <h3>... megtud rólunk mindent</h3>
    </header>
    <p>
        Kattints a bal oldalt, és máris megtudhatsz mindenféle okosságot.
    </p>
</section>