{% extends 'MainBundle::one.html.twig' %}

{% block content %}
    <section>
        <header>
            <h2>Kapcsolat</h2>
        </header>

        <h3>Praeses</h3>
        <p>
            Ő intézi a Kör ügyes bajos dolgait
            <br/>+363030303
        </p>

        <h3>Webmester</h3>
        <p>
            Teljesen logikus módon ő a weblapot kezeli. Ha van valami kérdésed, vagy észrevételed, őt keresd.
            <br/><a href="mailto: mikopet@gmail.com">Itt eléred!</a>
        </p>
    </section>
{% endblock %}